@import "tailwindcss";

:root {
  --background: #f2f4f3;
  --card: #a9927d;

  --foreground: #0a0908;
  --secondary-text: #5e503f;

  --primary: #22333b;
  --primary-hover: #5e503f;

  --button-primary: #22333b;
  --button-primary-hover: #5e503f;
  --button-secondary: #a9927d;
  --button-secondary-hover: #5e503f;

  --button-text: #f2f4f3;

  --image-shadow: 0 0 60px rgba(34, 51, 59, 0.35);

  --border: #a9927d;
}

.dark {
  --background: #0a0908;
  --card: #22333b;

  --foreground: #f2f4f3;
  --secondary-text: #a9927d;

  --primary: #a9927d;
  --primary-hover: #5e503f;

  --border: #22333b;

  --button-primary: #a9927d;
  --button-primary-hover: #5e503f;
  --button-secondary: #22333b;
  --button-secondary-hover: #5e503f;

  --button-text: #0a0908;

  --image-shadow: 0 0 60px rgba(169, 146, 125, 0.25);
}


@theme inline {
  --color-background: var(--background);
  --color-card: var(--card);

  --color-foreground: var(--foreground);
  --color-secondary-text: var(--secondary-text);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-button-primary: var(--button-primary);
  --color-button-primary-hover: var(--button-primary-hover);
  --color-button-secondary: var(--button-secondary);
  --color-button-secondary-hover: var(--button-secondary-hover);
  --color-button-text: var(--button-text);

  --color-border: var(--border);

  --color-shadow: var(--image-shadow)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}
